.qualification-container {
    max-width: 768px;
}

.qualification-tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}

.qualification-button {
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
    color: var(--title-color);
    margin: 0 1rem;
    cursor: pointer;
}

.qualification-button:hover {
    color: var(--title-color-dark);
}

.qualification-icon {
    font-size: 1.8rem;
    margin-right: 0.25rem;
}

.qualification-active {
    color: var(--title-color-dark);
}

.qualification-sections {
    display: grid;
    grid-template-columns: 0.5fr;
    justify-content: center;
}

.qualification-content {
    opacity: 0;
    visibility: hidden;
    transform: translateY(20px);
    height: 0;
    transition: all 0.4s ease-in-out;
}

.qualification-content-active {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    height: auto;
}

.qualification-data {
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    column-gap: 1.5rem;
}

.qualification-title {
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
}

.qualification-subtitle {
    display: inline-block;
    font-size: var(--small-font-size);
    margin-bottom: 1rem;
}

.qualification-calendar {
    font-size: var(--normal-font-size);
}

.qualification-rounder {
    display: inline-block;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background-color: var(--text-color);
}

.qualification-line {
    display: block;
    width: 1px;
    height: 100%;
    background-color: var(--text-color);
    transform: translate(6px);
}


@media screen and (max-width: 992px) {
    .qualification-container {
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (max-width: 768px) {}

@media screen and (max-width: 576px) {
    .qualification-sections {
        grid-template-columns: initial;
    }

    .qualification-button {
        margin: 0 0.75rem;
    }
}

@media screen and (max-width: 350px) {
    .qualification-data {
        gap: 0.5rem;
    }
}